<div id="home" class="flex column full-size center">
    <h1>The Great X Wars</h1>
    <h2>Changelog</h2>
    <div id="content" class="float readable-length left">
        <h3>Version 0.3.1</h3>
        <ul>
            <li class="added">Added changelog page</li>
            <li class="added">Added website icon</li>
            <li class="removed">Removed end turn button</li>
            <li class="changed">Fixed page title</li>
            <li class="changed">Updated rules</li>
        </ul>
    </div>
    <a class="button" routerLink="/home">Back</a>
</div>
