<div id="home" class="flex column full-size center">
    <h1>The Great X Wars</h1>
    <h2>Changelog</h2>
    <div id="content" class="float readable-length left">
        <h3>Version 0.4.2</h3>
        <ul>
            <li class="added">Now shows how many large tiles you have left to place in your turn</li>
            <li class="added">Added the logo to the home page</li>
            <li class="changed">Changed the website icon</li>
            <li class="changed">Fixed a bug where tiles displayed incorrectly on some older browsers</li>
        </ul>
        <h3>Version 0.4.1</h3>
        <ul>
            <li class="changed">Improved the pre-game player settings screen</li>
        </ul>
        <h3>Version 0.4.0</h3>
        <ul>
            <li class="added">Added large tiles when placing three tiles in a row</li>
            <li class="changed">Updated code libraries</li>
            <li class="changed">General performance improvements</li>
        </ul>
        <h3>Version 0.3.1</h3>
        <ul>
            <li class="added">Added changelog page</li>
            <li class="added">Added website icon</li>
            <li class="removed">Removed end turn button</li>
            <li class="changed">Fixed page title</li>
            <li class="changed">Updated about page & rules</li>
        </ul>
        <h3>Version 0.3.0</h3>
        <ul>
            <li class="added">Added information about the origin of the game</li>
            <li class="added">Made it possible to zoom while playing</li>
            <li class="removed">Removed online multiplayer (this will be added in the future after further optimization)</li>
            <li class="removed">Removed settings (this may be added again in the future)</li>
            <li class="changed">Ported the game to a web application</li>
            <li class="changed">Changed the default, minimum and maximum board size</li>
            <li class="changed">General UI improvements</li>
        </ul>
        <p id="bottom-notice">This is the first version of the web-based client. For older versions, see the full
            changelog of the <a href="https://github.com/soni801/xwars-java/commits/master/" target="_blank">Java client</a>.</p>
    </div>
    <a class="button" routerLink="/home">Back</a>
</div>
