@use "../../variables";

:host
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    height: 100vh;
}

input
{
    width: 10rem;
    padding: .5rem 1rem;

    background: none;
    color: variables.$foreground;

    font-family: "uni 05_53", sans-serif;
    font-size: 1.5rem;

    border: 2px solid variables.$button-foreground;
    outline: none;
}

h1
{
    // Visually center ish
    transform: translateY(-40px);
}

h2
{
    margin: 0;
}

#players-display
{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.player-settings
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.player-summary
{
    display: flex;
    gap: 1rem;
    align-items: center;

    .player-avatar
    {
        width: 3rem;
        aspect-ratio: 1;

        background: currentColor;
    }
}

#board-settings
{
    display: flex;
    align-items: center;
    gap: 1rem;

    input
    {
        width: 4ch;
    }
}
