<div id="color-picker-1"></div>

<div class="player-info">
    <div class="player-avatar" style="color: {{gameService.players[0].color}}"></div>
    <input [(ngModel)]="gameService.players[0].name">
</div>

<a class="button" (click)="startGame()">Start</a>

<div class="player-info">
    <div class="player-avatar" style="color: {{gameService.players[1].color}}"></div>
    <input [(ngModel)]="gameService.players[1].name">
</div>

<div id="color-picker-2"></div>

<div id="board-settings">
    <h2>Board size</h2>
    <input type="number" [(ngModel)]="gameService.board.width">
    <input type="number" [(ngModel)]="gameService.board.height">
</div>
