:host
{
    padding: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.player-info
{
    display: flex;
    gap: 1rem;
    align-items: center;

    .player-avatar
    {
        width: 3rem;
        aspect-ratio: 1;

        background: currentColor;
    }

    h2
    {
        margin: 0;
    }
}
