@use "/src/variables";

h1
{
    margin: 0;
    font-size: 4rem;
}

h2
{
    margin: 0;
    font-size: 2rem;
}

h4
{
    opacity: .7;
    text-decoration: underline;
}

p, ul
{
    opacity: .7;
    line-height: 1.5;

    a
    {
        color: variables.$foreground;
    }
}

#content
{
    height: 50vh;
    padding: 2rem;
    overflow-y: scroll;
    scrollbar-color: variables.$border-color transparent; // Firefox scrollbar
}
