<!-- Playing field -->
<div id="field" class="content-width" cdkDrag (cdkDragStarted)="dragging = true"> <!-- TODO: Check why panning doesn't work as expected on this -->
    <div id="zoom" class="border">
        <div class="flex" *ngFor="let row of gameService.tiles">
            <app-tile *ngFor="let tile of row" (click)="!dragging ? gameService.takeTile(tile) : dragging = false" [tile]="tile"></app-tile>
        </div>
    </div>
</div>

<!-- Game statistics -->
<div id="game-stats">
    <!-- The color of the current player -->
    <div id="gradient" style="background: linear-gradient(90deg, {{this.gameService.players[this.gameService.currentPlayer].color}}, transparent)"></div>

    <!-- Turn data -->
    <div>
        <h2>Turn {{this.gameService.turn}}</h2>
        <h3>Current player</h3>
        <h1>{{this.gameService.players[this.gameService.currentPlayer].name}}</h1>
    </div>

    <!-- Actions -->
    <button disabled>End turn</button>
</div>
