<div class="border" [ngClass]="[
    this.tile.foundation.top ? 'color-top' : '',
    this.tile.foundation.bottom ? 'color-bottom' : '',
    this.tile.foundation.left ? 'color-left' : '',
    this.tile.foundation.right ? 'color-right' : ''
]" style="color: {{this.tile.foundation.owner?.color}}">
    @if (this.tile.owner) {
        <div class="player-marker" [ngClass]="LargeTilePart[this.tile.largeTilePart]" style="color: {{this.tile.owner.color}}"></div>
    } @else if (this.tile.highlighted) {
        <div class="highlighted" style="color: {{this.tile.highlighted.color}}"></div>

        @if (this.hovering) {
            <div class="hover-marker" style="color: {{this.tile.highlighted.color}}"></div>
        }
    }

    @if (this.tile.largeTileHover) {
        <div class="large-x-hover" [ngClass]="LargeTilePart[this.tile.largeTilePart]" style="color: {{this.gameService.players[this.gameService.currentPlayer].color}}"></div>
    }

    <!-- Advantage markers -->
    @if (this.tile.advantageUses.vertical) {
        <div class="advantage-marker vertical"></div>
    }
    @if (this.tile.advantageUses.horizontal) {
        <div class="advantage-marker horizontal"></div>
    }
    @if (this.tile.advantageUses.diagonalTopLeft) {
        <div class="advantage-marker diagonal-top-left"></div>
    }
    @if (this.tile.advantageUses.diagonalTopRight) {
        <div class="advantage-marker diagonal-top-right"></div>
    }

    <!-- Debug position text -->
    <!-- TODO: Make these toggleable in settings -->
    <!--<p style="margin: 0; padding: 0; font-size: .5rem">x: {{this.tile.position.x}}</p>-->
    <!--<p style="margin: 0; padding: 0; font-size: .5rem">y: {{this.tile.position.y}}</p>-->
    <!--<p style="position: absolute; top: 0; margin: 0; padding: 0; font-size: .4rem; white-space: nowrap; pointer-events: none">v:{{+ this.tile.advantageUses.vertical}}, h:{{+ this.tile.advantageUses.horizontal}}<br>tl:{{+ this.tile.advantageUses.diagonalTopLeft}}<br>tr:{{+ this.tile.advantageUses.diagonalTopRight}}</p>-->
</div>
