:host > div
{
    // This is needed to make the highlighted thingy work
    position: relative;

    width: 2rem;
    height: 2rem;

    box-sizing: border-box;

    .player-marker
    {
        background: currentColor;
        height: 100%;
        mask-image: url("/assets/player-marker.png");
        mask-size: 100%;
        image-rendering: pixelated;
    }

    // "Highlight" that is enabled when the tile is able to be captured by a player
    .highlighted
    {
        position: absolute;
        inset: 0;
        animation: highlight 2s alternate infinite;

        // Display a dim player marker on hover
        &:hover::after
        {
            content: '';
            display: block;
            height: 100%;
            background: color-mix(in srgb, currentColor 20%, transparent);
            mask-image: url("/assets/player-marker.png");
            mask-size: 100%;
            image-rendering: pixelated;
        }
    }
}

.color-top { border-top: 4px solid currentColor; }
.color-bottom { border-bottom: 4px solid currentColor; }
.color-left { border-left: 4px solid currentColor; }
.color-right { border-right: 4px solid currentColor; }

@keyframes highlight
{
    from { outline: 1px solid color-mix(in srgb, currentColor 15%, transparent); }
    to { outline: 1px solid color-mix(in srgb, currentColor 40%, transparent); }
}
