div
{
    width: 2rem;
    height: 2rem;
}

img
{
    width: 100%;
    image-rendering: crisp-edges;
}

.red { filter: invert(15%) sepia(96%) saturate(6663%) hue-rotate(360deg) brightness(104%) contrast(115%); }
.blue { filter: invert(7%) sepia(100%) saturate(6846%) hue-rotate(248deg) brightness(112%) contrast(144%); }