<div class="border" [ngClass]="[
    this.tile.foundation.top ? 'color-top' : '',
    this.tile.foundation.bottom ? 'color-bottom' : '',
    this.tile.foundation.left ? 'color-left' : '',
    this.tile.foundation.right ? 'color-right' : ''
]" style="color: {{this.tile.foundation.owner?.color}}">
    @if (this.tile.owner) {
        <div class="player-marker" style="color: {{this.tile.owner.color}}"></div>
    } @else if (this.tile.highlighted) {
        <div class="highlighted" style="color: {{this.tile.highlighted.color}}"></div>
    }
</div>
