:host > div
{
    width: 2rem;
    height: 2rem;

    box-sizing: border-box;

    .player-marker
    {
        background: currentColor;
        height: 100%;
        mask-image: url("/assets/player-marker.png");
        mask-size: 100%;
        image-rendering: pixelated;
    }
}

.color-top { border-top: 4px solid currentColor; }
.color-bottom { border-bottom: 4px solid currentColor; }
.color-left { border-left: 4px solid currentColor; }
.color-right { border-right: 4px solid currentColor; }
