<div class="border" [ngClass]="[
    this.tile.foundation.top ? 'color-top' : '',
    this.tile.foundation.bottom ? 'color-bottom' : '',
    this.tile.foundation.left ? 'color-left' : '',
    this.tile.foundation.right ? 'color-right' : ''
]" style="color: {{this.tile.foundation.owner?.color}}">
    @if (this.tile.owner) {
        <div class="player-marker" [ngClass]="this.tile.largeTileHover ? LargeTilePart[this.tile.largeTilePart] : ''" style="color: {{this.tile.owner.color}}"></div>
    } @else if (this.tile.highlighted) {
        <div class="highlighted" style="color: {{this.tile.highlighted.color}}"></div>
    }

    @if (this.tile.largeTileHover) {
        <div class="large-x-hover" [ngClass]="LargeTilePart[this.tile.largeTilePart]" style="color: {{this.gameService.players[this.gameService.currentPlayer].color}}"></div>
    }

    <!-- Debug position text -->
    <!--<p style="margin: 0; padding: 0; font-size: .5rem">x: {{this.tile.position.x}}</p>-->
    <!--<p style="margin: 0; padding: 0; font-size: .5rem">y: {{this.tile.position.y}}</p>-->
</div>
