@use "/src/variables";

#game-stats
{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background: variables.$background-alternative;
    border-top: 8px solid variables.$border-color;

    // Player color gradient
    #gradient
    {
        position: absolute;
        top: -8px;
        left: 0;
        width: 50%;
        height: 8px;
    }
}