/* STYLESHEET TABLE OF CONTENTS
    1 Declarations
        1.1 Variables
        1.2 Fonts
    2 Global styling
    3 Elements
        3.1 Links
        3.2 Buttons
        3.3 Headings
    4 Utility classes
 */

// 1.1 Variables
@use "variables";

// 1.2 Fonts
@font-face
{
    font-family: 'uni 05_53';
    src: url("/assets/uni 05_53.ttf");
}

// 2 Global styling
body
{
    margin: 0;
    background: variables.$background;
    color: variables.$foreground;
    font-family: "uni 05_53", sans-serif;
    overflow: hidden;
}

// 3.1 Links
a
{
    color: variables.$button-foreground;
    transition: 200ms ease;

    &:hover { opacity: .6; }
    &:active { opacity: .3; }
}

// 3.2 Buttons
.button // Menu buttons, e.g. play and about
{
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
}

button // UI buttons, e.g. end turn
{
    height: fit-content; // For correct scaling in flex (e.g. end turn button)
    padding: .5rem 1rem;
    color: variables.$foreground;
    background: variables.$button-background;
    border: 4px solid variables.$button-foreground;
    font-family: "uni 05_53", sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .1s ease;

    &:hover
    {
        background: variables.$background;
        border-color: variables.$button-background;
    }

    &:active
    {
        color: variables.$button-foreground;
    }

    &:disabled
    {
        color: variables.$button-background;
        background: variables.$background;
        border-color: variables.$button-background;
        cursor: not-allowed;
    }
}

// 3.3 Headings
h1
{
    font-size: 4rem;
}

// 4 Utility classes
.border { border: 2px solid variables.$border-color; }
.content-width { width: fit-content; }
.flex { display: flex; }
.column { flex-direction: column; }
.float { margin: 3rem; }
.left { text-align: left; }
.readable-length { width: 70ch; }

.full-size
{
    width: 100vw;
    height: 100vh;
}

.center
{
    text-align: center;
    align-items: center;
    justify-content: center;
}
