// Colors
$foreground: #fff;

$background: #29292c;
$background-alternative: #242426;
$background-translucent: rgba(black, .5);

$button-foreground: #ccc7;
$button-background: #38383a;

$border-color: #1f1f21;
