@use "/src/variables";

div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1
{
    font-size: 4rem;
}

a
{
    font-size: 2rem;
    color: variables.$button;
    text-decoration: none;
    text-transform: uppercase;
    transition: 200ms ease;

    &:hover { opacity: .6; }
    &:active { opacity: .3; }
}