<div id="home" class="flex column full-size center">
    <!-- Logo -->
    <div id="logo">
        <img ngSrc="/assets/logo.png" alt="The Great X Wars logo" height="30" width="30">
        <img ngSrc="/assets/logo.png" alt="The Great X Wars logo" height="30" width="30" class="blurred">
    </div>
    <h1>The Great X Wars</h1>
    <p id="version-data">Version {{version}}</p>

    <div id="navigation" class="flex column center">
        <a class="button" routerLink="/play">Play</a>
        <a class="button" routerLink="/about">About</a>
        <a class="button" routerLink="/changelog">Changelog</a>
    </div>
</div>
